@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666
body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  height: 100%

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: 'Open Sans', sans-serif
  overflow-x: hidden
ul,
li
  margin: 0
  padding: 0

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

::selection
  background-color: $accent
  color: #fff

::-webkit-input-placeholder
  font-size: 13px
  color: #adadad

::-moz-placeholder
  color: #adadad
  font-size: 13px

.g-open
  display: flex !important

/*header global styles*/

header
  padding-top: 95px
  .header-wrap
    width: 100%
    padding-bottom: 75px
    border-bottom: 2px solid #000

/*header global styles end*/


/*search component*/
.search
  width: 100%
  position: relative
  &__input
    width: 100%
    height: 34px
    background: $grey
    border: none
    padding: 0 50px 0 20px
    outline: none
  &__button
    position: absolute
    right: 5px
    top: 50%
    font-size: 16px
    color: #b9b7bb
    transform: translatey(-50%)
    background: transparent
    border: none
    outline: none
    cursor: pointer

/*search component end*/

/*cart-header-styles*/
.cartCell
  display: inline-flex
  flex-direction: row
  justify-content: flex-end
  text-align: right
  font-size: 16px
  position: relative
  &:before
    content: ''
    display: inline-block
    background: url("../img/cart-icon.png") no-repeat center
    width: 30px
    height: 30px
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
  .cartCell__link
    display: inline-block
    position: relative
    margin-left: 45px
    text-transform: uppercase
    cursor: pointer
    transition: all 0.3s ease
    &:before
      content: ''
      width: 100%
      height: 1px
      background: #000
      bottom: 5px
      position: absolute
      left: 0
    span
      color: $violet
    &:hover
      color: $violet
      &:before
        background: $violet

.dropCel
  display: none
  flex-direction: column
  padding: 30px
  position: absolute
  z-index: 10
  right: 0
  top: calc(100% + 10px)
  background: #fff
  width: 300px
  box-shadow: 0 0 6px 1px rgba(11,65,102, 0.6)

.cart
  width: 100%
  list-style: none
  border-bottom: 1px solid #000
  margin-bottom: 15px
  .item
    display: inline-flex
    width: 100%
    align-items: flex-start
    position: relative
    margin-bottom: 10px
    list-style: none
    &__img
      min-width: 58px
      min-height: 67px
      margin-right: 17px
      img
        max-width: 58px
        max-height: 67px
    &__date
      text-align: left
      list-style: none
      .name
        font-size: 16px
        text-transform: uppercase
        font-weight: bold
        line-height: 1.2em
      .prices
        font-size: 12px
        color: #d72121
        font-weight: bold
    &__delete
      position: absolute
      right: 0
      top: 0
      color: #d72121
      cursor: pointer

.count
  font-size: 13px
  &__decrease
    display: inline-block
    margin-right: 10px
    cursor: pointer
  &__sum
    font-weight: 600
    display: inline-block
  &__increase
    margin-left: 10px
    display: inline-block
    cursor: pointer

.totalCel
  text-align: left
  width: 100%
  font-weight: bold
  font-size: 18px
  color: #d91313

/*cart-header-styles-end*/


/*main container global styles*/
.main
  padding-top: 150px

/*main container global styles end*/

/*catalog items styles*/
.catalogItem
  width: 100%
  max-width: 296px
  margin-bottom: 50px
  &__img
    margin-bottom: 20px
  &__name
    font-size: 20px
    margin-bottom: 5px
  &__code
    font-size: 16px
    strong
      font-weight: bold
  &__prices
    font-size: 16px
    margin-bottom: 30px
    strong
      font-weight: bold
  &__btn
    width: 140px
    font-size: 16px
    line-height: 32px
    background: $violet
    color: #fff
    border: none
    cursor: pointer

/*catalog items styles end*/

/*footer styles*/
footer
  background: #2c2c2c
  color: #a7a7a7
  text-align: center
  font-size: 12px
  line-height: 1.2em
  padding: 10px 0

/*footer styles end*/
