<section class="main">
  <div class="container">
    <div class="row">
      <div *ngFor="let item of products | async " class="col-lg-4">
        <div class="catalogItem">
          <div class="catalogItem__img">
            <img [src]="item.product_img" alt="Обои">
          </div>
          <div class="catalogItem__name">{{item.product_name}}</div>
          <div class="catalogItem__code">Артикул: {{item.code}}</div>
          <div class="catalogItem__brand">Бренд: <strong>{{item.brand}}</strong></div>
          <div class="catalogItem__prices">Цена: <strong>{{item.price}}</strong></div>
          <button (click)="addToCart(item)" class="catalogItem__btn">Заказать</button>
        </div>
      </div>
    </div>
  </div>
</section>
