<header>
  <div class="container">
    <div class="header-wrap">
      <div class="row">
        <div class="col-lg-3">
          <div class="logo">
            <img src="assets/img/logo.png" alt="logo">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="search">
            <input #searchLive class="search__input" placeholder="Более 1000 товаров" type="text" (input)="a = searchLive.value">
            <button class="search__button"><i class="fas fa-search"></i>
            </button>
            <div (click)="openCategorySearch()" class="category-search">
              <span *ngIf="!category" class="select-category">Select category</span>
              <span *ngIf="category" class="select-category">{{category}}</span>

              <ul *ngIf="openCategory">
                <li>Искать по:</li>
                <li (click)="categorySelect($event.target)" *ngFor="let cat of categorySearch">{{cat.name}}</li>
              </ul>
            </div>
            <ul *ngIf="a">
              <li *ngFor="let i of products | async | liveSearch : [a,filteredCategory]">
                <div class="img-prod-wrap">
                  <img [src]="i.product_img" alt="">
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 d-flex justify-content-end">
          <div class="cartCell">
            <div (click)="openCart()" class="cartCell__link">корзина <span>({{cartProducts.length}})</span></div>
            <div [ngClass]="{'g-open':open}" class="dropCel">
              <ul class="cart">
                <li *ngFor="let item of cartProducts" class="item">
                  <div class="item__img">
                    <img [src]="item.product_img" alt="pic">
                  </div>
                  <ul class="item__date">
                    <li class="name">{{item.product_name}}</li>
                    <li class="count">
                      <span class="count__decrease">-</span>
                      <span class="count__sum">1</span>
                      <span class="count__increase">+</span>
                    </li>
                    <li class="prices">Цена {{item.price}} грн</li>
                  </ul>
                  <div (click)="deleteFromCart()" class="item__delete"><i class="fas fa-times"></i></div>
                </li>
              </ul>
              <div class="totalCel">Итого: 3450 грн</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
